.heading_break {
    font-size: 25px;
}

.timebtn_div {
    background-color: #F2F4FA;
    margin-top: 20px;
    padding: 30px 20px;
}

.timerbtn {
    padding: 13px 6px;
    border-radius: 100%;
    margin-left: 15px;
    border: none;
    background-color: white;
}

.timeSectionP {
    background: #F2F4FA;
    border-radius: 10px;
    padding: 20px 15px;
}

.exercise_time {
    margin-right: 40px;
}

.Break_time {
    margin-right: 40px;
}